<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to RStudio, knitr and analyzing data </td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Creating functions</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      {% if site.flavor == "r" %}
      <tr> <td>12:30</td>  <td>Analyzing multiple data sets (for loop)</td> </tr>
      <tr> <td>13:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td>Making choices (if/else)</td> </tr>
      {% elsif site.flavor == "python" %}
      <tr> <td>15:15</td>  <td>Wrap up</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Building Programs with Python (Continued)</td> </tr>
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>15:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Understanding factors</td> </tr>
      <tr> <td>10:15</td>  <td>Morning break</td> </tr>
      <tr> <td>10:30</td>  <td>Data types and structures</td> </tr>
      <tr> <td>11:45</td>  <td>Lunch break</td> </tr>
      <tr> <td>12:30</td>  <td>Best practices for writing R Code</td> </tr>
      <tr> <td>13:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>14:00</td>  <td>Buffer time to finish lessons, questions</td> </tr>
      <tr> <td>15:15</td>  <td>Wrap-up</td> </tr>
      <tr> <td>15:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
